@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply font-sans bg-neutral-50 text-neutral-950 transition-colors
            dark:bg-neutral-900 dark:text-white
            selection:bg-accent-500 selection:text-white;
    }

    #root {
        @apply relative flex flex-col min-h-dvh overflow-x-clip;
    }

    h1 {
        @apply font-bold leading-none tracking-tight text-6xl md:text-7xl;
    }

    h2 {
        @apply text-2xl font-semibold leading-none tracking-tight mb-4
            after:content-[''] after:inline-block after:size-2 after:ml-1 after:rounded-full after:bg-gradient-to-br
            after:gradient-primary;
    }
    
    h3 {
        @apply text-lg font-semibold leading-none tracking-tight mb-4;
    }

    a {
        @apply underline underline-offset-2 hover:decoration-transparent transition-colors;
    }
}

@layer components {

    .container {
        @apply relative max-w-screen-xl w-full px-8 self-center;
    }

    button, .button {
        @apply relative text-sm font-bold inline-flex px-3 py-1.5 gap-2 items-center cursor-pointer rounded-3xl no-underline transition-all
            hover:text-white hover:dark:text-black
            active:scale-90
            *:transition-colors;
    }
        
    .button-icon {
        @apply button size-9 p-0 rounded-full items-center justify-center;
    }

    .card {
        --spotlight-x: 0;
        --spotlight-y: -100vh;
        --spotlight-color: theme(colors.primary.500/10%);
        --spotlight-border-from: theme(colors.accent.500/100%);
        --spotlight-border-to: theme(colors.primary.500/80%);

        @apply relative p-[1px] rounded-[13px] transition-colors shadow-sm
            bg-[radial-gradient(100rem_circle_at_var(--spotlight-x)_var(--spotlight-y),_var(--spotlight-border-from),_var(--spotlight-border-to),_#e5e5e5_15%)]
            dark:bg-[radial-gradient(100rem_circle_at_var(--spotlight-x)_var(--spotlight-y),_var(--spotlight-border-from),_var(--spotlight-border-to),_#262626_15%)]
            before:content-[''] before:size-full before:absolute before:top-0 before:left-0 before:rounded-[13px] before:transition-opacity
            before:bg-[radial-gradient(60rem_circle_at_var(--spotlight-x)_var(--spotlight-y),_var(--spotlight-color),_transparent_35%)]
            before:opacity-0
            hover:before:opacity-100;
    }

    .card-content { @apply rounded-xl p-4 size-full bg-white dark:bg-neutral-900 *:relative; }

    .labels { @apply flex flex-wrap gap-2; }
    .label { @apply text-sm font-semibold tracking-tight px-1.5 rounded-md bg-neutral-700 text-white; }
}

@layer utilities {

    .motion-fade,
    .motion-fade-up,
    .motion-fade-down,
    .motion-fade-left,
    .motion-fade-right,
    .motion-fade-scale { @apply invisible; }

    .gradient-primary { @apply from-accent-500 to-primary-600 dark:from-accent-300 dark:to-primary-500; }

    .text-gradient { @apply bg-gradient-to-br bg-clip-text text-transparent; }

    .text-gradient-primary { @apply text-gradient gradient-primary; }
}