@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --font-sans: Geist, sans-serif;

    --color-primaryd-50: var(--color-emerald-50);
    --color-primary-100: var(--color-emerald-100);
    --color-primary-200: var(--color-emerald-200);
    --color-primary-300: var(--color-emerald-300);
    --color-primary-400: var(--color-emerald-400);
    --color-primary-500: var(--color-emerald-500);
    --color-primary-600: var(--color-emerald-600);
    --color-primary-700: var(--color-emerald-700);
    --color-primary-800: var(--color-emerald-800);
    --color-primary-900: var(--color-emerald-900);
    --color-primary-950: var(--color-emerald-950);

    --color-accentd-50: var(--color-lime-50);
    --color-accent-100: var(--color-lime-100);
    --color-accent-200: var(--color-lime-200);
    --color-accent-300: var(--color-lime-300);
    --color-accent-400: var(--color-lime-400);
    --color-accent-500: var(--color-lime-500);
    --color-accent-600: var(--color-lime-600);
    --color-accent-700: var(--color-lime-700);
    --color-accent-800: var(--color-lime-800);
    --color-accent-900: var(--color-lime-900);
    --color-accent-950: var(--color-lime-950);

    --pattern-fg: color-mix(in oklab, var(--color-black) 5%, transparent);
}

@utility container {
    @apply relative max-w-(--breakpoint-xl) w-full px-8 self-center;
}

@utility button {
    @apply relative text-sm font-bold inline-flex px-3 py-1.5 gap-2 items-center cursor-pointer rounded-3xl no-underline transition-all
        before:content-[''] before:absolute before:top-0 before:left-0 before:inset-0 before:rounded-full before:-z-1 before:scale-90 before:opacity-0 before:transition-all
        dark:before:bg-neutral-50 before:bg-neutral-950
        hover:before:scale-100 hover:before:opacity-100 hover:text-white dark:hover:text-black
        hover:*:[.youtube-icon]:text-[#ff0000]
        hover:*:[.linkedin-icon]:text-[#0A66C2]
        dark:hover:*:[.github-icon]:text-[#181717]
        active:scale-90;
}

@utility button-icon {
    @apply button size-9 p-0 rounded-full items-center justify-center;
}

@utility card {
    --spotlight-x: 0;
    --spotlight-y: -100vh;
    --spotlight-color: --theme(--color-primary-500 / 5%);
    --spotlight-border-from: --theme(--color-accent-500 / 100%);
    --spotlight-border-to: --theme(--color-primary-500 / 30%);

    @apply relative p-[1px] rounded-[13px] transition-colors shadow-xs
            bg-[radial-gradient(100rem_circle_at_var(--spotlight-x)_var(--spotlight-y),_var(--spotlight-border-from),_var(--spotlight-border-to),_#e5e5e5_15%)]
            dark:bg-[radial-gradient(100rem_circle_at_var(--spotlight-x)_var(--spotlight-y),_var(--spotlight-border-from),_var(--spotlight-border-to),_#262626_15%)]
            before:content-[''] before:size-full before:absolute before:top-0 before:left-0 before:rounded-[13px] before:transition-opacity
            before:bg-[radial-gradient(60rem_circle_at_var(--spotlight-x)_var(--spotlight-y),_var(--spotlight-color),_transparent_35%)]
            before:opacity-0
            hover:before:opacity-100;
}

@utility card-content {
    @apply rounded-xl p-4 size-full bg-white dark:bg-neutral-900 *:relative;
}

@utility labels {
    @apply flex flex-wrap gap-2;
}

@utility label {
    @apply text-sm font-semibold tracking-tight px-1.5 rounded-md bg-neutral-700 text-white;
}

@utility motion-fade {
    @apply invisible;
}

@utility motion-fade-up {
    @apply invisible;
}

@utility motion-fade-down {
    @apply invisible;
}

@utility motion-fade-left {
    @apply invisible;
}

@utility motion-fade-right {
    @apply invisible;
}

@utility motion-fade-scale {
    @apply invisible;
}

@utility gradient-primary {
    @apply from-accent-500 to-primary-600 dark:from-accent-300 dark:to-primary-500;
}

@utility text-gradient {
    @apply bg-linear-to-br bg-clip-text text-transparent;
}

@utility text-gradient-primary {
    @apply text-gradient gradient-primary;
}

@utility bg-dashed {
    @apply bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed;
}

@layer base {

    html {
        @apply font-sans bg-neutral-50 text-neutral-950
            dark:bg-neutral-900 dark:text-white
            selection:bg-accent-500 selection:text-white;
    }

    #root {
        @apply relative flex flex-col min-h-dvh overflow-x-clip;
    }

    h1 {
        @apply font-bold leading-none tracking-tight text-6xl md:text-7xl;
    }

    h2 {
        @apply text-2xl font-semibold leading-none tracking-tight mb-4
            after:content-[''] after:inline-block after:size-2 after:ml-1 after:rounded-full after:bg-linear-to-br
            after:gradient-primary;
    }
    
    h3 {
        @apply text-lg font-semibold leading-none tracking-tight mb-4;
    }

    a {
        @apply underline underline-offset-2 hover:decoration-transparent transition-colors;
    }

    .container { position: unset !important; }

    .dark {
        --pattern-fg: color-mix(in oklab, var(--color-white) 10%, transparent);
    }
}