@import "https://cdn.jsdelivr.net/npm/theme-toggles@latest/css/expand.min.css";

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --font-sans: "Inter", sans-serif;

    --color-background: var(--color-neutral-50);
    --color-foreground: var(--color-neutral-950);
    --color-border: var(--color-neutral-200);
    --color-muted: var(--color-neutral-500);

    --color-primary: var(--color-emerald-600);
    --color-primary-shadow: var(--color-emerald-800);
    
    --color-accent: var(--color-lime-500);
    --color-accent-shadow: var(--color-lime-700);

    --pattern-fg: var(--color-border);

    --animate-looper: looper linear infinite;

    @keyframes looper {
        from {transform: translateX(0);}
        to {transform: translateX(calc(var(--looper-loops) * 100% * -1));}
    }
}

.dark {

    --color-background: var(--color-neutral-950);
    --color-foreground: var(--color-neutral-300);

    --color-border: var(--color-neutral-800);

    --color-primary: var(--color-emerald-700);
    --color-primary-shadow: var(--color-emerald-900);

    --color-accent: var(--color-lime-500);
}

@layer base {

    html {
        @apply font-sans bg-background text-foreground
            selection:bg-accent selection:text-neutral-950;
    }

    #root {
        @apply relative flex flex-col min-h-dvh overflow-x-clip;
    }

    h1 {
        @apply title font-bold text-6xl md:text-7xl;
    }

    h2 {
        @apply title text-2xl mb-4;
    }
    
    h3 {
        @apply title text-lg mb-4;
    }

    a {
        @apply underline underline-offset-2 hover:decoration-transparent transition-colors;
    }

    button {
        @apply button;
    }

    .container { position: unset !important; }
}

@utility container {
    @apply relative max-w-(--breakpoint-xl) w-full px-8 self-center;
}

@utility title {
    @apply leading-none tracking-tight font-medium inline-flex gap-3 items-center;
}

@utility highlight {
    @apply font-semibold;
}

@utility button {
    @apply relative inline-flex items-center text-sm font-semibold px-4 py-2 gap-2 cursor-pointer no-underline
        rounded-2xl ring-1 ring-border backdrop-blur-xl select-none
        transition-[scale,color]
        sm:hover:scale-105
        active:scale-95 sm:active:scale-100;
}

@utility button--ripple {
    @apply contain-paint 
        before:content-[""] before:absolute  before:left-0 before:top-[101%] before:h-full before:w-full before:-z-1 before:pointer-events-none 
        before:rounded-t-[100%] before:bg-foreground
        before:transition-[top,border-radius] before:duration-500 before:ease-in-out
        hover:text-background
        hover:before:rounded-t-none hover:before:top-0;
}

@utility card {
    --spotlight-x: 0;
    --spotlight-y: -100vh;
    --spotlight-color: --theme(--color-primary / 5%);
    --spotlight-border-from: --theme(--color-primary / 50%);
    --spotlight-border-via: --theme(--color-accent / 75%);
    --spotlight-border-to: --theme(--color-accent / 100%);
    --spotlight-border: --theme(--color-border / 100%);

    @apply relative p-px rounded-[13px] transition-colors shadow-xs
            bg-[radial-gradient(150rem_circle_at_var(--spotlight-x)_var(--spotlight-y),var(--spotlight-border-to),var(--spotlight-border-via),var(--spotlight-border-from),var(--spotlight-border)_15%)]
            before:content-[''] before:size-full before:absolute before:top-0 before:left-0 before:rounded-[13px] before:transition-opacity
            before:bg-[radial-gradient(80rem_circle_at_var(--spotlight-x)_var(--spotlight-y),var(--spotlight-color),transparent_35%)]
            before:opacity-0
            hover:before:opacity-100;
}

@utility card-content {
    @apply rounded-xl p-4 size-full bg-background *:relative;
}

@utility labels {
    @apply flex flex-wrap gap-2;
}

@utility label {
    @apply text-sm font-semibold tracking-tight px-1.5 rounded-lg border border-border bg-foreground/5;
}

@utility motion-fade {
    @apply invisible;
}

@utility motion-fade-up {
    @apply invisible;
}

@utility motion-fade-down {
    @apply invisible;
}

@utility motion-fade-left {
    @apply invisible;
}

@utility motion-fade-right {
    @apply invisible;
}

@utility motion-fade-scale {
    @apply invisible;
}

@utility gradient-primary {
    @apply from-accent to-primary;
}

@utility gradient-primary-shadow {
    @apply from-accent-shadow to-primary-shadow;
}

@utility text-gradient {
    @apply bg-linear-to-br bg-clip-text text-transparent;
}

@utility text-gradient-primary {
    @apply text-gradient gradient-primary;
}

@utility text-gradient-primary-shadow {
    @apply text-gradient gradient-primary-shadow;
}

@utility bg-dashed {
    @apply bg-[repeating-linear-gradient(315deg,var(--pattern-fg)_0,var(--pattern-fg)_1px,transparent_0,transparent_50%)] bg-size-[10px_10px] bg-fixed;
}

@utility bg-ambilight { @apply drop-shadow-xl bg-radial-[200%_200%_at_30%_30%] from-transparent from-30%; }
