@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply font-sans text-neutral-950 transition-colors
            dark:bg-neutral-900 dark:text-neutral-50;
    }

    #root {
        @apply relative flex flex-col min-h-dvh overflow-x-clip;
    }

    h1 {
        @apply font-black text-6xl md:text-8xl;
    }

    h2 {
        @apply font-black text-2xl mb-4
            after:content-[''] after:inline-block after:size-2 after:ml-1 after:rounded-full after:bg-gradient-to-br
            after:from-cyan-500 after:to-blue-500;
    }
    
    h3 {
        @apply font-black text-xl inline-block mb-2;
    }
}

@layer components {

    .container {
        @apply relative max-w-screen-xl w-full px-8 self-center;
    }

    .menu {
        @apply relative flex flex-wrap max-w-screen-sm rounded-[23px] p-1 bg-white/50 backdrop-blur-xl shadow-sm
            dark:bg-black/50;
    }

    button, .button {
        @apply relative text-sm font-semibold inline-flex gap-2 items-center cursor-pointer rounded-3xl transition-all
            before:content-[''] before:absolute before:w-full before:h-full before:top-0 before:left-0 before:rounded-3xl
            before:scale-90 before:bg-transparent before:transition-all
            hover:before:scale-100 hover:before:bg-neutral-500/10
            dark:hover:before:bg-neutral-300/10
            active:before:scale-90;

        &:not(.button-icon) {
            @apply px-3 py-1.5;
        } 
    }

    .button-icon {
        @apply button h-9 w-9 rounded-full before:rounded-full items-center justify-center;
    }

    .label {
        @apply block text-sm font-semibold px-1.5 rounded-full outline outline-2;
    }
}

@layer utilities {

    .motion-fade,
    .motion-fade-up,
    .motion-fade-down,
    .motion-fade-left,
    .motion-fade-right,
    .motion-fade-scale { @apply invisible; }

    .text-gradient { @apply bg-gradient-to-br bg-clip-text text-transparent; }

    .text-gradient-primary { @apply text-gradient from-cyan-500 to-blue-600; }
    .text-accent-1 { @apply text-gradient from-lime-500 to-emerald-600; }
    .text-accent-2 { @apply text-gradient from-pink-500 to-purple-600; }
    .text-accent-3 { @apply text-gradient from-stone-500 to-black dark:from-white dark:to-stone-600; }

    .shadow-primary { @apply shadow-blue-100 dark:shadow-blue-950; }
    .shadow-accent-1 { @apply shadow-emerald-100 dark:shadow-emerald-950; }
    .shadow-accent-2 { @apply shadow-purple-100 dark:shadow-purple-950; }
    .shadow-accent-3 { @apply shadow-stone-300 dark:shadow-stone-800; }

    .border-primary { @apply from-cyan-300 via-blue-300 dark:from-cyan-700 dark:via-blue-900; }
    .border-accent-1 { @apply from-lime-300 via-emerald-300 dark:from-lime-700 dark:via-emerald-900; }
    .border-accent-2 { @apply from-pink-300 via-purple-300 dark:from-pink-700 dark:via-purple-900; }
    .border-accent-3 { @apply from-black via-stone-500 dark:from-neutral-100 dark:via-stone-500; }
}