/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --nav-background-color: 255 255 255;
        --shadow-primer-color: 156 163 175;
    }
    
    html {
        @apply font-poppins overflow-x-hidden;

        &.dark {
            --nav-background-color: 3 7 18;
            --shadow-primer-color: 3 7 18;
        }
    }

    body {
        @apply min-h-screen overflow-x-clip bg-gray-100 dark:bg-gray-800;
        
        &::before {
            @apply content-[''] w-screen h-screen absolute top-0 left-0 bg-gradient-to-br from-blue-500 via-lime-500 via-25% to-50% opacity-25;

            --svg: url(assets/path.svg);

            mask: var(--svg);
        }
    }

    a {
        @apply underline underline-offset-2 hover:decoration-lime-500 transition-all;
    }

    // *::-webkit-scrollbar { @apply w-4; }
    // *::-webkit-scrollbar-track { @apply bg-gray-100 dark:bg-gray-800; }
    // *::-webkit-scrollbar-thumb { @apply bg-gray-500 rounded-xl border-4 border-solid border-gray-100 dark:border-gray-800; }

    footer {
        @apply shadow-inner text-sm bg-gray-200/50 dark:bg-gray-700/25 text-gray-400;
    }
}

@layer components {

    button, .button {
        @apply relative p-3 font-medium md:font-semibold text-gray-700 rounded-full transition-all overflow-hidden cursor-pointer 
                hover:bg-gray-200 active:bg-gray-300
                dark:text-gray-300 dark:hover:bg-gray-700 dark:active:bg-gray-700/50;

        &:not(.icon) {
            @apply px-4;
        }

        &.icon {
            @apply w-12 h-12;
        }

        &.flat {
            @apply bg-white dark:bg-gray-900;
        }
    }

    .mouse {
        @apply relative w-6 h-11 border-gray-300 border-2 rounded-3xl;
        @apply dark:border-gray-700;

        &::before {
            @apply absolute content-[''] w-2 h-2 bg-gray-500 top-1 left-1/2 -translate-x-1/2 rounded-full opacity-100;

            animation: wheel 1.5s infinite;
        }
    }
    
    @keyframes wheel { to {opacity: 0; top: calc(100% - 0.5rem - 4px);}}

    ng-lottie svg path { stroke: currentColor; }
}

@layer utilities {

    .shadow-primer-md { box-shadow: 0 3px 6px 0 rgb(var(--shadow-primer-color) / 15%); }
    .shadow-primer-lg { box-shadow: 0 8px 24px 0 rgb(var(--shadow-primer-color) / 20%); }
    .shadow-primer-xl { box-shadow: 0 12px 28px 0 rgb(var(--shadow-primer-color) / 30%); }

    .grid-cols-1-1-3 {
        grid-template-columns: max-content 1fr 3fr;
    }

    .reveal,
    .reveal-fade,
    .reveal-slide-up,
    .reveal-slide-right {
        visibility: hidden;
    }
}